body {
  /*
  background-image: url(./imagens/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /*background: color image repeat position/size */
  background: url(./imagens/bg-mobile.jpg) no-repeat top center/cover;
}
